#!/usr/bin/env bash
# ^^^ This is ignored by direnv but makes linters happy.

watch_file bazel-out/bazel_env-opt/bin/env/env/bin
PATH_add bazel-out/bazel_env-opt/bin/env/env/bin
if [[ ! -d bazel-out/bazel_env-opt/bin/env/env/bin ]]; then
  log_error "ERROR[bazel_env.bzl]: Run 'bazel run //env' to regenerate bazel-out/bazel_env-opt/bin/env/env/bin"
fi

export BAZEL_BINDIR="$(expand_path bazel-bin)"
